html{font-family: メイリオ}

h1 {
    width: 500px;
    height: 35px;
    background-color: #EEEEEE ;
    border-left: 5px solid red;
    padding-left: 10px;
    line-height: 40px;
    font-size:20px;
}

form {
    width: 500px;
    border: 3px solid lightgray;
    background-color: #EEEEEE;
    border-radius: 10px;
}

div {padding: 15px;
}

.text, textarea, .dropdown {
    border:1px solid #dfdfdf;
    padding:5px;
    color: #999;
    background: #fff;
    }

.submit {
    padding: 4px 10px;
    border-radius:5px;
    color: white;
    background-color:#bfbfbf;
}
