html{font-family: メイリオ}

h1 {
    width: 450px;
    height: 35px;
    background-color: #EEEEEE ;
    border-left: 5px solid red;
    padding-left: 10px;
    line-height: 40px;
    font-size:20px;
}

.confirm {
    margin-left: 5px;
    width: 450px;
    border: 3px solid lightgray;
    background-color: #EEEEEE;
    border-radius: 10px;
}

p {padding-top: 15px;
	padding-left: 10px;
}
	
form {padding-top: 5px;
   }

.button1, .button2{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left:10px;
    margin-bottom:30px;
    border-radius:5px;
    color: white;
    background-color:#AAAAAA;
}

